@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,400;0,600;0,700;0,800;0,900;1,100&family=Barlow:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/notosansethiopic.css');

body {
  margin: 0;
  background: #f9f9f9;
  font-family: 'Barlow', 'Roboto', sans-serif;
}

form .MuiInputBase-input {
  background: #ffffff;
  font-family: 'Barlow', 'Roboto', sans-serif;
}

form label.MuiFormLabel-root {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
}

h5.subsectionheader {
  margin: 20px 0 0;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  text-transform: uppercase;
}

.sidebarText, .sidebarText .MuiTypography-body1 {
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

a {
  cursor: pointer;
}

#languageSelector svg.MuiSelect-icon {
  color: #ffffff;
  fill: #ffffff;
}

#languageSelector .MuiInput-underline:before,
#languageSelector .MuiInput-underline:after {
  content: none;
  display: none;
}

ul.MuiList-root[aria-labelledby="lang"] {
  background: #ffffff;
}

ul.MuiList-root[aria-labelledby="lang"] li p {
  color: #0040B7 !important;
}

html[lang="am"] body * {
  font-family: 'Noto Sans Ethiopic', 'Barlow', 'Roboto', sans-serif !important;
}